absl-py
astor
backports.weakref
bleach
certifi
chardet
click==7.1.2
enum34
Flask
funcsigs
futures
gast
grpcio
h5py
html5lib
idna
itsdangerous
Jinja2
Keras
Keras-Applications
Keras-Preprocessing
Markdown==2.0
MarkupSafe
mock
numpy
pbr
protobuf
PyYAML
requests
scipy
six
tensorboard
tensorflow
termcolor
urllib3
Werkzeug
pronouncing
flask-socketio
